.page {
  @include media-sm-up {
    padding-left: $sidebar-width;
  }

  @include media-sm-down {
    padding-top: $navbar-height;
  }
}

.main {
  &.sidebar--open {
    @include media-sm-down {
      position: fixed;
      overflow: hidden;
    }
  }

  img {
    max-width: 100%;
  }

  .img-25 {
    max-width: 25%;
  }

  .img-50 {
    max-width: 50%;
  }

  .img-75 {
    max-width: 75%;
  }
}

.container {
  margin: 0 auto;
  max-width: $page-width;
  padding-left: $gl-spacing-5;
  padding-right: $gl-spacing-5;
  width: 100%;

  @include media-sm-up {
    padding-left: $gl-spacing-7;
    padding-right: $gl-spacing-7;
  }
}

.admonition {
  padding: $gl-spacing-5;
  display: block;
  font-size: $base-font-size;
  line-height: 1.5;

  &.admonition--note {
    background-color: $blue-50;
  }

  &.admonition--tip {
    background-color: $green-50;
  }

  &.admonition--todo {
    background-color: $gray-50;
    display: flex;
  }

  &.admonition--warning {
    background-color: $orange-50;
  }

  .admonition-type {
    text-transform: uppercase;
    font-weight: $font-weight--bold;
  }
}

// Simple grid workaround until bootstrap is reintroduced

.row {
  display: flex;
  flex-wrap: wrap;

  // Center columns when not adding up to 100%
  &.row-center {
    justify-content: center;
  }

  .col {
    padding-right: $gl-spacing-5;
    padding-left: $gl-spacing-5;

    &.col-50 {
      width: 50%;

      &:nth-child(2n + 1) {
        padding-left: 0;
      }
      &:nth-child(2n + 2) {
        padding-right: 0;
      }
    }

    &.col-33 {
      width: 33%;

      &:nth-child(3n + 1) {
        padding-left: 0;
      }
      &:nth-child(3n) {
        padding-right: 0;
      }
    }

    &.col-25 {
      width: 25%;

      &:nth-child(4n + 1) {
        padding-left: 0;
      }
      &:nth-child(4n) {
        padding-right: 0;
      }
    }
  }
}

// Links in body content

.typography {
  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $blue-600;
    }

    &:active {
      color: $blue-700;
    }
  }
}

// Keyboard

kbd {
  padding: 3px 5px;
  line-height: 1;
  font-size: 0.875em;
  color: $gray-700;
  background-color: $gray-10;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-100 $gray-100 $gray-200;
  border-image: none;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 $gray-200;
}

// Figure

.figure {
  border-radius: $border-radius;
  display: block;
  margin: $gl-spacing-7 auto;
  text-align: center;

  &--dark {
    background-color: $gray-950;
    color: $white;
    margin-bottom: $gl-spacing-7;
    padding: $gl-spacing-6 $gl-spacing-5;
  }
}

.figure-img {
  display: inline-block;
  line-height: 1;
  margin: 0 auto;
}

.figure-caption {
  font-size: $base-font-size;
  line-height: 1.5;
  margin-top: $gl-spacing-3;
}

// Figma embeds

.figma-embed {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  height: 0;
  margin-bottom: $gl-spacing-6;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
